
<div class="container">
  <div class="col-md-4 col-md-offset-4">

    <h2>Réserver dès maintenant</h2>

    <%= simple_form_for([@attraction, @booking]) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :description, label: "Quel type d'évènement ?" %>
        <%= f.input :start_date, label: "Date de début" %>
        <%= f.input :end_date, label: "Date de fin" %>
        <%= f.input :place, label: "Lieux" %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Reservation", class: 'btn-search' %>
        <%= link_to "retour", attraction_path(@attraction), class: 'btn-reservation' %>
      </div>
    <% end %>
  </div>
</div>

