<div class="wrapper">
  <div class="container" style="min-height:100vh;">
    <div class="banner-profil">
      <%= image_tag 'https://78.media.tumblr.com/avatar_d10fc8689e88_128.pnj' %>
      <h2>
        <%= @user.first_name.capitalize %>
        <%= @user.last_name %>
      </h2>
    </div>

      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a id="one" href="#">Mes réservations</a></li>
        <li role="presentation"><a id="two" href="#">Mes attractions</a></li>
      </ul>

    <div class="list-attraction-user" id="one">
      <div class="text-right title-attraction">
        <h2>Mes réservations</h2>
      </div>
        <% if Booking.all.where(user: current_user).size == 0 %>
          <h3><%= "Vous n'avez pas de réservations actuellement" %></h3>
        <% end %>
       <% Booking.all.where(user: current_user).order("updated_at DESC").each do |booking| %>
       <% if booking.attraction.user != current_user %>
        <div class="attraction">
        <%= image_tag  booking.attraction.photo.url.nil? ? booking.attraction.image_url : booking.attraction.photo , class:"img-booking.attraction" %>
        <div class="attraction-date">
          <p><%= booking.attraction.updated_at.strftime("Réservé le %m/%d/%Y") %></p>
          <p><%= "#{booking.start_date.strftime("%m/%d/%Y")} - #{booking.end_date.strftime("%m/%d/%Y")}" %></p>
        </div>
        <div class="attraction-descrip">
          <%= booking.attraction.description %>
        </div>
        <div class="attraction-price">
            <%= booking.attraction.price %> €
        </div>
      </div>
      <% end %>
      <% end %>
    </div>

    <div class="list-attraction-user hidden" id="two">
      <div class="text-right title-attraction">
        <h2>Mes attractions</h2>
      </div>
      <% if @user.attractions.size == 0 %>
      <h3><%= "Vous n'avez pas d'attractions actuellement" %></h3>
      <% end %>
      <% @user.attractions.order("updated_at DESC").each do |attraction| %>
      <div class="attraction">
        <%= image_tag  attraction.photo.url.nil? ? attraction.image_url : attraction.photo , class:"img-booking.attraction" %>
        <div class="attraction-date">
          <%= attraction.updated_at.strftime("%m/%d/%Y") %>
        </div>
        <div class="attraction-descrip">
          <%= attraction.description %>
        </div>
        <div class="attraction-price">
            <%= attraction.price %> €
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  document.querySelectorAll('.nav-tabs li').forEach ( (el) => {
    el.addEventListener("click", (ev) => {
      document.querySelectorAll('.nav-tabs li').forEach( (el) => {
        el.classList.toggle("active");
      });
      document.querySelectorAll('.list-attraction-user').forEach( (el) => {
       el.classList.toggle("hidden")
      })
    });
  })
</script>
