<h1>Hello Profil</h1>
<%= image_tag 'https://78.media.tumblr.com/avatar_d10fc8689e88_128.pnj' %>
<%= @user.first_name.capitalize %>
<%= @user.last_name %>


<%= @user.attractions.each do |attraction| %>
  <%= attraction %>
<% end %>
