<div class="navbar-wagon">
  <!-- Logo -->
  <div class="logo-btn-owner">
    <%= link_to root_path do %>
      <%= image_tag "logo-air-fun.png", alt: "logo", width:"120" %>
    <% end %>
  </div>

  <!-- Right Navigation -->
    <!-- Profile picture with dropdown list -->
    <% if user_signed_in? %>
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <div class="navbar-profil-add-attraction">
          <%= link_to "Ajouter attraction", new_attraction_path, class:"btn btn-owner text-right" %>
          <img src="https://78.media.tumblr.com/avatar_d10fc8689e88_128.pnj" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "Profil", user_path(current_user.id) %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
              <%= t(".sign_out", default: "Se déconnecter") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <div class="navbar-profil-add-attraction">
        <%= link_to "Ajouter attraction", new_attraction_path, class:"btn btn-owner text-right" %>
        <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link btn-login" %>
      </div>
    <% end %>
    </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <% if user_signed_in? %>
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle white" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to "Messages", "#" %>
          </li>
          <li>
            <%= link_to "Notification", "#" %>
          </li>
          <li>
            <%= link_to  "Profil", "#"%>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
            <%= t(".sign_out", default: "Se déconnecter") %>
            <% end %>
          </li>
        </ul>
      </div>
    <% else %>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>
</div>
