<div class="wrapper">
  <div class="container">
    <h2>Tous les loisirs</h2>
      <%= form_tag attractions_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Trouver une attraction près de chez vous"
        %>
      <% end %>
      <div class="container">
        <div class="row">
          <% @attractions.each do |attraction| %>
            <div class="col-xs-12 col-sm-3">
              <div class="card", style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= attraction.photo.url.nil? ? attraction.image_url : attraction.photo %>)">
                <div class="card-description">
                  <h2><%= attraction.name %></h2>
                  <p><%= attraction.price %> € </p>
                </div>
                  <%= image_tag "https://78.media.tumblr.com/avatar_d10fc8689e88_128.pnj", alt:"img", class: "card-user" %>
                  <%= link_to "#", attraction_path(attraction), class:"card-link" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>
