<div class="wrapper-show">
  <div class="container">
    <%= link_to attractions_path, class:"logo-back" do %>
        <i class="fas fa-arrow-circle-left i-btn"></i>
        <% end %>
    <div class="row">
      <div class="col-xs-3">
        <div class="attraction-image" style="background-image: url(<%= @attraction.photo.url.nil? ? @attraction.image_url : @attraction.photo %>)">
        </div>
      </div>

      <div class="col-xs-9">
        <div class="attraction-content">
          <h3><%= @attraction.name %></h3>
          <p> Phrase de présentation de l'attraction </p>
        </div>
      </div>

      <div class="col-xs-7">
        <div class="attraction-description">
          <h4> Description de l'attraction </h4>
          <p> attraction_type : <%= @attraction.attraction_type %> </p>
          <p> playersmax : <%= @attraction.playersmax %> </p>
          <%= link_to edit_attraction_path(@attraction), class:"logo-edit" do %>
            <i class="fas fa-edit i-btn"></i>
          <% end %>
          <%= link_to attraction_path(@attraction), method: :delete, data: {confirm: "Really delete this article?"} do %>
          <i class="fas fa-trash-alt i-btn"></i>
          <% end %>
        </div>
      </div>

      <div class="col-xs-5">
        <div class="attraction-reservation">
          <p> <%= current_user == @attraction.user ? "Modifier disponibilités" : "Réserver en ligne" %> </p>
          <ul class="list-unstyled">
            <% @attraction.availabilities.sort_by{|avai| avai.date}.each do |availability| %>
              <li style="font-size: initial;">
                <% if availability.is_available %>
                  <i class="fas fa-check text-success"></i>
                <% else %>
                  <i class="fas fa-times text-danger"></i>
                <% end %>
                <%= availability.date %>
                <% if current_user == @attraction.user and availability.is_available %>
                  <%= link_to "Changer dispo?", attraction_availability_path(attraction_id: @attraction.id, id: availability.id, date: availability.date), method: :delete, data: {confirm: "Cette journée n'est plus dispo?"} %>
                <% end %>
                <% if current_user != @attraction.user and availability.is_available %>
                <%= link_to "Réserver!", attraction_availability_path(attraction_id: @attraction.id, id: availability.id, date: availability.date), method: :delete, data: {confirm: "Vous voulez vraiment réserver à cette date?"} %>
                <% end %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
      <div class="container">
         <%= link_to "Réserver!", new_attraction_booking_path(@attraction) %>
      </div>


    </div>
  </div>
</div>
