<div class="wrapper-show">
  <div class="container">
    <%= link_to attractions_path, class:"logo-back" do %>
        <i class="fas fa-arrow-circle-left i-btn"></i>
        <% end %>
    <div class="row">
      <div class="col-xs-3">
        <div class="attraction-image" style="background-image: url(<%= @attraction.photo.url.nil? ? @attraction.image_url : @attraction.photo %>)">
        </div>
      </div>

      <div class="col-xs-9">
        <div class="attraction-content">
          <h3><%= @attraction.name %></h3>
          <p> Phrase de présentation de l'attraction </p>
        </div>
      </div>

      <div class="col-xs-7">
        <div class="attraction-description">
          <h4> Description de l'attraction </h4>
          <p> attraction_type : <%= @attraction.attraction_type %> </p>
          <p> playersmax : <%= @attraction.playersmax %> </p>
          <% if @owner %>
            <%= link_to edit_attraction_path(@attraction), class:"logo-edit" do %>
              <i class="fas fa-edit i-btn"></i>
            <% end %>
            <%= link_to attraction_path(@attraction), method: :delete, data: {confirm: "Really delete this article?"} do %>
            <i class="fas fa-trash-alt i-btn"></i>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="col-xs-5">
        <div class="attraction-reservation">
          <p> Réservez en ligne </p>
        </div>
      </div>
    </div>
  </div>
</div>

<p> playersmax : <%= @attraction.playersmax %> </p>

<%= link_to 'Edit', edit_attraction_path(@attraction) %>
<br/>
<%= link_to "Delete", attraction_path(@attraction), method: :delete, data: {confirm: "Really delete this article?"} %>

<br/>
<%= link_to 'Back to All Attractions', attractions_path %>

<ul class="list-unstyled">
  <% @attraction.availabilities.sort_by{|avai| avai.date}.each do |availability| %>
    <li>
      <% if availability.is_available %>
        <i class="fas fa-check text-success"></i>
      <% else %>
        <i class="fas fa-times text-danger"></i>
      <% end %>
      <%= availability.date %> <%= availability.is_available ? "is available"  : "not available" %>
      <% if current_user == @attraction.user and availability.is_available %>
        <%= link_to "Cette date n'est plus disponible", attraction_availability_path(attraction_id: @attraction.id, id: availability.id, date: availability.date), method: :delete, data: {confirm: "Really delete this article?"} %>
      <% end %>
      <% if current_user != @attraction.user and availability.is_available %>
      <%= link_to "Book", attraction_availability_path(attraction_id: @attraction.id, id: availability.id, date: availability.date), method: :delete, data: {confirm: "Really want to book this date?"} %>
      <% end %>
    <% end %>
    </li>
</ul>
