<div class="wrapper-show">
  <div class="container">
    <%= link_to attractions_path, class:"logo-back" do %>
        <i class="fas fa-arrow-circle-left i-btn"></i>
        <% end %>
    <div class="row">
      <div class="col-xs-3">
        <div class="attraction-image" style="background-image: url(<%= @attraction.photo.url.nil? ? @attraction.image_url : @attraction.photo %>)">
        </div>
      </div>

      <div class="col-xs-9">
        <div class="attraction-content">
          <h3><%= @attraction.name %></h3>
          <p> Phrase de présentation de l'attraction </p>
        </div>
      </div>

      <div class="col-xs-7">
        <div class="attraction-description">
          <h4> Description de l'attraction </h4>
          <p> Type d'attraction : <%= @attraction.attraction_type %> </p>
          <p> Nombre de personne max : <%= @attraction.playersmax %> </p>
          <% if @owner %>
            <%= link_to edit_attraction_path(@attraction), class:"logo-edit" do %>
              <i class="fas fa-edit i-btn"></i>
            <% end %>
            <%= link_to attraction_path(@attraction), method: :delete, data: {confirm: "Really delete this article?"} do %>
            <i class="fas fa-trash-alt i-btn"></i>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="col-xs-5">
        <div class="attraction-reservation">
          <p> <%= current_user == @attraction.user ? "Modifier disponibilités" : "Réserver en ligne" %> </p>

          <% @booking = Booking.new %>

          <%= form_tag attraction_bookings_path(@attraction), method: :post do %>
            <%= text_field_tag :query,
              params[:query],
              class: "flatpickr",
              "data-id": "range",
              placeholder: "Select date"
            %>
            <%= submit_tag "Book!", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="display: none;" id="myData" data-markers='<%= @markers.to_json %>'></div>


